.about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

.about-text {
    flex: 1;
    padding-right: 20px;
}

.about-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-intro-para {
    font-size: 18px;
    line-height: 1.6;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 500px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
  