body {
    cursor: none;
}
  
.custom-cursor {
    width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transform-origin: center;
    z-index: 9999; 
    transition: transform 0.1s ease-out border-color 0.1s ease-out, background-color 0.1s ease-out;
}
  
.custom-cursor-clicked {
    /* transform: scale(0.8) translate(-50%, -50%) !important; */
    border-color: antiquewhite;
}
  
.custom-cursor-hover {
    border-color: rgba(255, 0, 0, 0.8) !important; 
    /* transform: scale(1.2) translate(-50%, -50%) !important;  */
}
  
a, button, input, textarea {
    cursor: none !important;
}
  