.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.Home-Name{
    margin-top: 10px;
    font-size: 160px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-user-select: none;
    user-select: none;
}

.home-social-media{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%; 
}

.home-social-icon{
    display: inline-flex;;
    width: 32px !important;
    align-items: center;
    /* margin-right:80px; */
    /* margin-left:150px; */
    /* margin-top: 5px; */
    height: 5px;
}

.home-social-icon + .home-social-icon{
    margin-left: 100px;
}