.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.Home-Name {
    margin-top: 10px;
    font-size: 160px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-user-select: none;
    user-select: none;
}

.home-social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.home-social-icon button {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-social-icon {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    height: auto; 
}

.home-social-icon img {
    width: 52px;
    height: auto;
    display: block;
}

.home-social-icon + .home-social-icon {
    margin-left: 100px;
}
