.project-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}
.projects-section {
    padding: 40px 20px;
    background-color: #1e1e1e;
    color: #ffffff;
    text-align: center;
  }
  
  .projects-section h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .projects-section p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .project-card {
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .project-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project-card p {
    font-size: 16px;
    margin-bottom: 20px;
    flex-grow: 1;
  }
  
  .project-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .project-icons img {
    width: 24px;
    height: 24px;
  }
  
  .project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: auto;
  }
  
  .project-tags .tag {
    background-color: #444444;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: auto;
  }
  